doctype html
	head
		meta(charset='utf-8')
		title Avada - About Us Page 1
		link(rel='stylesheet', href='/location/style.css')
	body

		header
			h1 Avada:
			nav.mainNav
				a(href="#{}") Home
				a(href="#{}") Sliders
				a(href="#{}") Headers
				a(href="#{}") Pages
				a(href="#{}") Portfolio
				a(href="#{}") Blog
				a(href="#{}") Shop
				a(href="#{}") Features
				a(href="#{}") Shortcodes
				a(href="#{}") chart
				a(href="#{}") search
			section 
				title About Us Page
				nav
					a(href="#{}") Home /
					a(href="#{}") About Us

		section.mainBody
			figure
				video(src="/video.mp4" alt="slidevideo")
				img(src="/pic2.jpg" alt="slidepic2")
				img(src="/pic3.jpg" alt="slidepic3")
				img(src="/pic4.jpg" alt="slidepic4")
			article
				h1 Welcome To Avada
				p
					| Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore dolore magnm aliquam quaerat voluptatem.
			article
				h1 Our Crazy Skillz
				ul
					li: progress(value="90" max="100") Web Design
					li: progress(value="95" max="100") HTML/CSS
					li: progress(value="85" max="100") Graphic Design
					li: progress(value="75" max="100") Wordpress
			article
				h1 Who is Avada
				nav
					a(href="#{}") Our Company Mission
					a(href="#{}") The Avada Philosophy
					a(href="#{}") The Avada Promise
					a(href="#{}") We Can Deliver On Projects
			article
				h1 Meet Out Team
				figure
					img(src="/john.jpg" alt="John Doe")
					figcaption
						ul
							li John Doe
							li Developer
						ul
							li: a(href="#{}") dribble
							li: a(href="#{}") linkedin
							li: a(href="#{}") twitter
							li: a(href="#{}") facebook
						p
							| Redantium, totam rem aperiam, eaque ipsa qu ab illo inventore veritatis et quasi architectos beatae vitae dicta sunt explicabo. Nemo enims sadips ipsums un.
				figure
					img(src="/john.jpg" alt="John Doe")
					figcaption
						ul
							li John Doe
							li Developer
						ul
							li: a(href="#{}") dribble
							li: a(href="#{}") linkedin
							li: a(href="#{}") twitter
							li: a(href="#{}") facebook
						p
							| Redantium, totam rem aperiam, eaque ipsa qu ab illo inventore veritatis et quasi architectos beatae vitae dicta sunt explicabo. Nemo enims sadips ipsums un.
				figure
					img(src="/john.jpg" alt="John Doe")
					figcaption
						ul
							li John Doe
							li Developer
						ul
							li: a(href="#{}") dribble
							li: a(href="#{}") linkedin
							li: a(href="#{}") twitter
							li: a(href="#{}") facebook
						p
							| Redantium, totam rem aperiam, eaque ipsa qu ab illo inventore veritatis et quasi architectos beatae vitae dicta sunt explicabo. Nemo enims sadips ipsums un.
			article
				form(action="" method="post")
					fieldset
						legend Contact Us
						div
							label(for="name") Name:
							input(id="name", name="name", value="", required pattern="[A-Za-z-0-9]+\s[A-Za-z-'0-9]+", title="firstname lastname", aria-required="true", aria-describedby="name-format")
							span(id="name-format" class="help") Format: firstname lastname
						div
							label(for="email") Email:
							input(type="email" id="email" name="email" value="" required aria-required="true")
						div
							label(for="website") Website:
							input(type="url" id="website" name="website" value="")
						div
							label(for="message") Message:
							input(type="text" id="message" name="message" value="" required)
						div.submit
							input(type="submit" value="Submit")
			article
				h1 Our Happy Clients
				ul
					li
						a(href="#{}")
							img(src="/shift.jpg" alt="shift logo")
					li
						a(href="#{}")
							img(src="/envato.jpg" alt="envato logo")
					li
						a(href="#{}")
							img(src="/threeleaves.jpg" alt="threeleaves logo")
					li
						a(href="#{}")
							img(src="/sparrow.jpg" alt="sparrow logo")
					li
						a(href="#{}")
							img(src="/oc.jpg" alt="oc logo")
		footer
			div
				div
					h2 Avada
					p
						| Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scriptaset patrioque scribentur, at pro fugit erts verterem molestiae, sed et vivendo ali Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scripta patrioque scribentur...
				div
					h2 Recent Posts
					ul
						li: a(href="#{}") Blog Slideshow Posts
						li: a(href="#{}") Aenean Odio Mauris
						li: a(href="#{}") Blog Image Post
						li: a(href="#{}") Blog Video Post
						li: a(href="#{}") Donec Suscipit Dim Euismods
				div
					h2 Recent Tweets
					ul
						li Tweet Username message time
						li Tweet Username message time
				div
					h2 Recent Works
					ul
						li: img("/client1.jpg" alt="client1")
						li: img("/client2.jpg" alt="client2")
						li: img("/client3.jpg" alt="client3")
						li: img("/client4.jpg" alt="client4")
						li: img("/client5.jpg" alt="client5")
						li: img("/client6.jpg" alt="client6")
				div
					p
						| Copyright 2012 - 2014 Avada Theme by
						a(href="#{}") Theme Fusion
						| | All Rights Reserved | Powered by
						a(href="#{}") WordPress
					ul
						li: a(href="#{}") v
						li: a(href="#{}") p
						li: a(href="#{}") d
						li: a(href="#{}") r
						li: a(href="#{}") l
						li: a(href="#{}") t
						li: a(href="#{}") f


